body, html{
    margin: 0;
    font-family: arial;
    font-size: 18px;
    scroll-behavior: smooth;
    }

    #header{
    background:rgba(0,0,0,0.6);
    padding: 20px 0;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0%;
    }

    .container{
    width: 86%;
    margin: 0 auto;
    }

    #header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    }

    .main-nav{}
    .main-nav ul{
    padding: 0;
    margin: 0;
    list-style: none;
    }

    .main-nav ul li{
    float: left;
    margin-left: 25px;
    font-size: 18px;
    }

    .main-nav ul li a{
    text-decoration: none;
    color: #E5DFDF;
    }

    .main-nav a:hover {
     color: #ffffff;
    }

    .logo img{
    width: 70px;
    height: 70px;
    }

    .banner img{
    max-width: 100%;
    vertical-align: top;
    }

    .about-section{
    height: 100vh;
    display: flex;
    background: #88C690;
    align-items: center;
    }

    .projects-section{
    height: 100vh;
    display: flex;
    background: #cfd6f9;
    align-items: center;
    }

    .experience-section{
    height: 100vh;
    display: flex;
    align-items: center;
    background: #dbfbf4;
    }

    .contact-section{
    display: flex;
    align-items: center;
    background: #C68888;
    }